.Level {
    display: flex;
}
.spans {
        background-color: rgba(255, 255, 255, 0.2);
        font-size: 18px;
}
.blockTyping {
    width: 600px;
    height: 300px;
    display: flex;
    background-color: #e0e0e0;
    border-radius: 4px;
}
.numberList {
    line-height: 28px;
    top:0;
    left: 0;
    height: 280px;
    width: 35px;
    text-align: right;
    padding: 10px 6px;
    background-color: #999;
    color: #D5D5D5;
    border-radius: 5px ;
}
.inputWrapper {
    margin-top: 60px;
    padding: 0;
}
.inputWrapper textarea {
    display: block;
    width: 543px;
    border-radius: 3px;
    height: 24px;
    margin-left: 16px;
    border: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    outline: none;
    resize: none;
    overflow: auto;
}
.nextButton {
    background-color: #D11606;
    border: none;
    width: 130px;
    height: 35px;
    border-radius: 4px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    margin-left: 423px;
    margin-top:100px ;
}
.display{
    top: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #777;
    margin-left: 20px;
}
.pond {
    top: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #777;
}
.lili-frog{
    position: fixed;
    z-index: 10;
    margin-left: 650px;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 550px;
    height: 640px;
    border-radius:10px;
    background-color: #1F5768
}
.frogGreen {
    background-image: url('https://flexboxfroggy.com/images/frog-green.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 15px;
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 11;
    margin-top: 10px;
    animation: pulse 1.2s ease infinite;
}
@keyframes pulse {
    0% {
        transform: scale(0.8)
    }
    50% {
        transform: scale(0.9)
    }
    100% {
        transform: scale(1)
    }

}
.greenKrug {
    background-image: url('https://flexboxfroggy.com/images/lilypad-green.svg');
    background-repeat: no-repeat;
    background-size: 80% 80%;
    position: fixed;
    z-index: 10;
    width: 130px;
    height: 130px;
    margin-left: 230px;
    margin-top: 10px;
}
.frogYeelow {
    background-image: url('https://flexboxfroggy.com/images/frog-yellow.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 11;
    margin-top: 10px;
    margin-left: 100px;
    animation: pulse 1.2s ease infinite;
}
.yellowKrug{
    background-image: url('https://flexboxfroggy.com/images/lilypad-yellow.svg');
    background-repeat: no-repeat;
    background-size: 80% 80%;
    position: fixed;
    z-index: 10;
    width: 130px;
    height: 130px;
    margin-left: 335px;
    margin-top: 10px;
}
.frogGreen.bump {
    position: fixed;
    z-index: 90;
    width: 80px;
    height: 80px;
    margin-left: 245px;
    margin-top: 15px;
}
.frogYeelow.bumpYeelow {
    position: fixed;
    z-index: 90;
    width: 80px;
    height: 80px;
    margin-left: 350px;
    margin-top: 15px;
}
.nextButton:disabled,
.nextButton:focus:disabled,
.nextButton:hover:disabled,
.nextButton:active:disabled {
    background: rgb(221, 97, 97);
    border-color: #ccc;
    color: white;
}
.nextAnimation {
    animation: pulse 1.2s ease infinite;
} 